* {
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    
   }

body{
    background-color: beige;
    font-family: 'roboto', sans-serif;
}

h1{
    color: brown;
    font-size: 28px;
    text-align: center;
}
   
h2{
    color: brown;
    font-size: 20px;
    text-align: center;
}

p,ul,ol{
    font-size: 16px;
}

figcaption, footer{
    font-size: 12px;
}